.box {
    display: grid;
    gap: 8px;
}

.title {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #424242;
}

.input {
    border: 1px solid #CCC7C7;
    border-radius: 12px;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 12px;
    &::placeholder {
        color: #CCC7C7;
    }
}