.accounts-page {
    &__title {
        margin-bottom: 22px;
    }
    &__list {
        display: grid;
        gap: 16px;
    }
    &__add {
        margin-top: 22px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}