.box {
    text-align: center;
    padding: 40px 0;
}

@keyframes dotAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dots {
    span {
        animation-name: dotAnim;
        animation-duration: 400ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    span:nth-child(1) {
        animation-delay: 100ms;
    }
    span:nth-child(2) {
        animation-delay: 150ms;
    }
    span:nth-child(3) {
        animation-delay: 200ms;
    }
}