.main-menu {
    position: fixed;
    background-color: #FFF;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    left: 50%;
    min-height: 62px;
    padding: 6px 0;
    box-sizing: border-box;
    border-top: 1px solid #F3F3F3;
    transform: translateX(-50%);
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px 10px 0 0;
    &__link {
        display: grid;
        justify-items: center;
        gap: 4px;
    }
    &__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #F3F3F3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__mainButton {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #4B5EC5;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            img {
                transform: rotate(180deg);
            }
        }
        img {
            transition: .3s;
        }
    }
}

.add-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    opacity: 0;
    pointer-events: none;
    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F3F3F3;
        img {
            max-width: 90%;
            max-height: 90%;
        }
        .link-title {
            position: absolute;
            left: calc(100% + 8px);
            top: 50%;
            transform: translateY(-50%);
            color: #FFF;
        }
    }
}